road_reconstruction/bags/ filter=lfs diff=lfs merge=lfs -text
road_reconstruction/bags/motion.bag filter=lfs diff=lfs merge=lfs -text
road_reconstruction/bags/not_quite_a_loop.bag filter=lfs diff=lfs merge=lfs -text
